<% if @user.errors.any? %>
  <h3>Please correct these problems:</h3>
    <ul>
      <% @user.errors.full_messages.each do |messages| %>
        <li><%= messages %></li>
      <% end %>
    </ul>
<% end %>
<table>
  <tbody>

  <%= form_for @user do |f| %>
    <tr><td><%= f.label :name %></tr></td>
    <tr><td><%= f.text_field :name %></tr></td>
    <tr><td><%= f.label :email %></tr></td>
    <tr><td><%= f.text_field :email %></tr></td>
    <tr><td><%= f.label :user_name %></tr></td>
    <tr><td><%= f.text_field :user_name %></tr></td>
    <tr><td><%= f.label :password %></tr></td>
    <tr><td><%= f.password_field :password %></tr></td>
    <tr><td><%= f.label :password_confirmation %></tr></td>
    <tr><td><%= f.password_field :password_confirmation %></tr></td>
    <tr><td></tr></td>  
    </tbody>
    </table>
    <%= f.submit 'sign up'%>
  <% end %>

