<h1>Haxie News</h1>

<ul>
  <% @links.sort_by_votes.each do |link| %>
    <li>
      <%= form_for link.votes.new do |f| %>
               <%= f.hidden_field :link_id %>
               <%= f.submit  '▲' %>
               <% end %>
      <%= "#{link.votes.count} votes " %>
      <%= link_to link.description, link.url %>
      <small><%= "(#{link.url})" %></small>
      <button class="btn btn-default btn-mini">
        <%= link_to "Delete", link, :method => :delete, :data => { :confirm  => "are you sure about that?" } %>
      </button><hr/>

      <button class="btn btn-default btn-mini">
        <%= link_to "Comment", link_path(link)%>
      </button>
    </li>
  <% end %>
</ul>

<p><%= link_to "New link", new_link_path %></p>
