<li class="list-group-item">
  <%= comment.text %>
  <%= form_for Comment.new do |f| %><br>
    <%= f.text_field :text %>
    <%= f.hidden_field :commentable_id, :value => comment.id %>
    <%= f.hidden_field :commentable_type, :value => comment.class %>
    <%= f.submit 'reply', :class => "btn btn-default" %>
  <% end %>
  <ul class="list-group">
    <% comment.comments.each do |reply| %>
      
      <%= render "/layouts/comments", :comment => reply %>
    <% end %>
  </ul>
</li>

