<li>
  <%= comment.text %>
  <%= form_for Comment.new do |f| %>
    <%= f.text_field :text %>
    <%= f.hidden_field :commentable_id, :value => comment.id %>
    <%= f.hidden_field :commentable_type, :value => comment.class %>
    <%= f.submit 'reply' %>
  <% end %>
  <ul>
    <% comment.comments.each do |reply| %>
      <li><%= reply.text %></li>
       <%= form_for Comment.new do |f| %>
        <%= f.text_field :text %>
        <%= f.hidden_field :commentable_id, :value => reply.id %>
        <%= f.hidden_field :commentable_type, :value => reply.class %>
        <%= f.submit 'reply' %>
      <% end %>
      <% render "/layouts/comments", :comment => reply %>
    <% end %>
  </ul>
</li>

