<!DOCTYPE html>
<html>
<head>
  <title>HackerNews</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<nav class="navbar navbar-default" id="top" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" id="title" href="/">Haxie News</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    
   <!--  <ul class="nav navbar-nav navbar-right">
      <li><a href="/sign%20up">Sign Up</a></li>
    </ul> -->
    <% if current_user %>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="logout">Log Out</a></li>
    </ul>
    <% else %>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="login">Log In</a></li>
      </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/sign%20up">Sign Up</a></li>
    </ul>
    <% end %>
  </div><!-- /.navbar-collapse -->
</nav>
<body>

 <div class="container">
    <% if flash[:notice] %>
      <div class="alert alert-info">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div class="alert alert-danger">
        <%= flash[:alert] %>
      </div>
    <% end %>
    
    
<%= yield %>

</body>
</html>
